* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #050505;
    color: white;
}

.navbar {
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #00d4ff;
}

.continue-shopping {
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.cart-wrapper {
    padding: 60px 8%;
}

.cart-container h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cart-container h2 span {
    color: #00d4ff;
}

/* تنسيق العناصر داخل السلة */
.cart-item {
    display: flex;
    align-items: center;
    background: #111;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    gap: 20px;
}

.cart-item img {
    width: 80px;
    border-radius: 10px;
}

.item-info {
    flex: 2;
}

.item-info h4 {
    margin-bottom: 5px;
}

.item-info p {
    color: #00d4ff;
    font-size: 12px;
}

.item-quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #1a1a1a;
    padding: 5px 15px;
    border-radius: 20px;
}

.item-quantity button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.item-price {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #00d4ff;
}

.remove-item {
    background: none;
    border: none;
    color: #ff4b4b;
    cursor: pointer;
    font-size: 18px;
}

/* ملخص الحساب */
.cart-summary {
    background: #111;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    /* يخلي الملخص يروح يمين */
    margin-top: 40px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #888;
}

.total {
    border-top: 1px solid #333;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    background: #00d4ff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.checkout-btn:hover {
    background: white;
}